[Unit]
Description=Start zookeeper service
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User={{  user }}
Group={{  user }}
Type=forking
ExecStart={{ zookeeper_home }}bin/zkServer.sh start
ExecStop={{ zookeeper_home }}bin/zkServer.sh stop
WorkingDirectory={{ hadoop_home }}
Environment=JAVA_HOME={{ java_path }}
Environment=HADOOP_HOME={{ hadoop_home }}
TimeoutStartSec=2min
Restart=on-failure
PIDFile={{ pid_zkserver_file }}

[Install]
WantedBy=multi-user.target