[Unit]
Description=Hadoop DFS namenode
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
User={{  user }}
Group={{  user }}
Type=forking
ExecStart={{ hadoop_home }}sbin/hadoop-daemon.sh start namenode
ExecStop={{ hadoop_home }}sbin/hadoop-daemon.sh stop namenode
WorkingDirectory={{ hadoop_home }}
Environment=JAVA_HOME={{ java_path }}
Environment=HADOOP_HOME={{ hadoop_home }}
TimeoutStartSec=2min
Restart=on-failure
PIDFile={{ pid_namenode_file }}

[Install]
WantedBy=multi-user.target